
        body {
            background-color: plum;
            font-family: Arial, sans-serif;
            max-width: 400px;
            margin: 0 auto;
            padding: 100px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        button {
            margin-left: 10px;
            background-color: black;
            color: white;
        }
 